#asidebaar{
    height: 107vh;
    width: 15%;
    background-color: rgb(28, 28, 96);
}
#dashboard{
    width: 170px;
    color: white;
    margin-left: 25%;
    padding: 2%;
    font-size: 15px;
}#dashboard1{
    width: 170px;
    color: white;
    margin-left: 25%;
    padding: 2%;
}


#dashboard:hover{
    background-color: rgba(240, 248, 255, 0.139);
}
#name{
    margin-left: 5px;
    margin-top: -2%;
    color:white;
}
#name1{
    margin-left: 37%;
    margin-top: -9%;
    color:rgba(255, 255, 255, 0.605);
    font-size: 10px;
}
#img{
    height:30px;
    width: 30px;
    border-radius: 50%;
}
#seconddiv{
    height: 107vh;
    width: 100vw;
    background-color: rgba(240, 235, 235, 0.734)
}
/* ////////////////////////////////////////////////////////////////////////////////////*/
#h3name{
    margin-left: 20px;
}
#first{
    display: flex;
    height: 140px;
    width: 220px;
    margin-left: 3%;
    margin-top: 3%;
    background-color: white;
    border-radius: 10px;
}

#childfirst{
    height: 100px;
    width: 100px;
    background-color: rgba(97, 232, 97, 0.563);
    border-radius: 50%;
    margin-left: 7%;
    margin-top: 7%;
    
}
#childfirst1{
    height: 100px;
    width: 100px;
    background-color: rgba(200, 117, 228, 0.389);
    border-radius: 50%;
    margin-left: 7%;
    margin-top: 7%;
    
}
#childfirst2{
    height: 100px;
    width: 100px;
    background-color: rgba(101, 112, 240, 0.471);
    border-radius: 50%;
    margin-left: 7%;
    margin-top: 7%;
    
}
#childfirst3{
    height: 100px;
    width: 100px;
    background-color: rgba(101, 112, 240, 0.471);
    border-radius: 50%;
    margin-left: 7%;
    margin-top: 7%;
    
}
#dollorimg{
margin-left: 28px;
margin-top: 25%;
}
#second{
    height: 140px;
    width: 220px;
    margin-left: 3%;
    margin-top: 3%;
    background-color: white;
    border-radius: 10px;
}
#therd{
    height: 140px;
    width: 220px;
    margin-left: 3%;
    margin-top: 3%;
    background-color: white;
    border-radius: 10px;
}
#four{
    height: 140px;
    width: 220px;
    margin-left: 3%;
    margin-top: 3%;
    background-color: #5226e0;
    border-radius: 10px;
}
#input{
    margin-left: 70%;
    height: 20px;
    margin-top: 1%;
}
 #third{
    margin-top:2%;
    margin-left: 3%;
    height:340px;
    width: 750px;
    border-radius: 10px;
    background-color: white;
 }
 